extends layout

block content
    main.auth.auth-floated
        .auth-form
            h1.p-5 FLOOD WATCH
            .card-body.border-top
                .d-flex.justify-content-between.my-3
                    h4.card-title  Recent activity
                    a(href='#') View all
                // .timeline
                ul.timeline.timeline-fluid
                    // .timeline-item
                    li.timeline-item
                        // .timeline-figure
                        .timeline-figure
                            span.tile.tile-circle.tile-sm
                                i.far.fa-calendar-alt.fa-lg
                        // /.timeline-figure
                        // .timeline-body
                        .timeline-body
                            // .media
                            .media
                                // .media-body
                                .media-body
                                    p.mb-0
                                        a(href='#') Jeffrey Wells
                                        |  created a
                                        a(href='#') schedule
                                    span.timeline-date About a minute ago

                    li.timeline-item
                        // .timeline-figure
                        .timeline-figure
                            span.tile.tile-circle.tile-sm
                                i.oi.oi-chat.fa-lg
                        // /.timeline-figure
                        // .timeline-body
                        .timeline-body
                            // .media
                            .media
                                // .media-body
                                .media-body
                                    p.mb-0
                                        a(href='#') Anna Vargas
                                        |  logged a
                                        a(href='#') chat
                                        |  with team
                                    span.timeline-date 3 hours ago

                    li.timeline-item
                        // .timeline-figure
                        .timeline-figure
                            span.tile.tile-circle.tile-sm
                                i.fa.fa-tasks.fa-lg
                        // /.timeline-figure
                        // .timeline-body
                        .timeline-body
                            // .media
                            .media
                                // .media-body
                                .media-body
                                    p.mb-0
                                        a(href='#') Arthur Carroll
                                        |  created a
                                        a(href='#') task
                                    span.timeline-date 8:14pm

                    li.timeline-item
                        // .timeline-figure
                        .timeline-figure
                            span.tile.tile-circle.tile-sm
                                i.fas.fa-user-plus.fa-lg
                        // /.timeline-figure
                        // .timeline-body
                        .timeline-body
                            // .media
                            .media
                                // .media-body
                                .media-body
                                    p.mb-0
                                        a(href='#') Sara Carr
                                        |  invited to
                                        a(href='#') Stilearn Admin
                                        |  project
                                    span.timeline-date 7:21pm
                    li.timeline-item
                        // .timeline-figure
                        .timeline-figure
                            span.tile.tile-circle.tile-sm
                                i.fa.fa-folder.fa-lg
                        // /.timeline-figure
                        // .timeline-body
                        .timeline-body
                            // .media
                            .media
                                // .media-body
                                .media-body
                                    p.mb-0
                                        a(href='#') Angela Peterson
                                        |  added
                                        a(href='#') Looper Admin
                                        |  to collection
                                    span.timeline-date 5:21pm
                    li.timeline-item
                        // .timeline-figure
                        .timeline-figure
                            span.tile.tile-circle.tile-sm
                                i.oi.oi-person.fa-lg
                        // /.timeline-figure
                        // .timeline-body
                        .timeline-body
                            // .media
                            .media
                                // .media-body
                                .media-body
                                    .avatar-group.mb-2
                                        a.user-avatar.user-avatar-sm(href='#')
                                            img(src='assets/images/avatars/uifaces4.jpg' alt='')
                                        a.user-avatar.user-avatar-sm(href='#')
                                            img(src='assets/images/avatars/uifaces5.jpg' alt='')
                                        a.user-avatar.user-avatar-sm(href='#')
                                            img(src='assets/images/avatars/uifaces6.jpg' alt='')
                                        a.user-avatar.user-avatar-sm(href='#')
                                            img(src='assets/images/avatars/uifaces7.jpg' alt='')
                                    p.mb-0
                                        a(href='#') Willie Dixon
                                        |  and 3 others followed you
                                    span.timeline-date 4:32pm

        #map.auth-announcement
    script.
        function initMap() {
            // The location of Uluru
            var uluru = {lat: -25.344, lng: 131.036};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 4,
                    center: uluru,
                    disableRightClickZoom: true}
                );
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});

            map.addListener('rightclick', function (e) {
                new google.maps.Marker({
                    position: e.latLng,
                    icon: icons[features[0].type].icon,
                    map: map
                });
            })

            var iconBase =
                '/assets/markers/';

            var icons = {
                normal: {
                    icon : {
                        url: iconBase + 'waterDrop.png',
                        scaledSize: new google.maps.Size(50, 50)
                    } ,
                },
                warning: {
                    icon: {
                        url: iconBase + 'waterDropWarning.png',
                        scaledSize: new google.maps.Size(50, 50)
                    },
                },
                danger: {
                    icon: {
                        url: iconBase + 'waterDropDanger.png',
                        scaledSize: new google.maps.Size(50, 50)
                    },
                }
            };

            var features = [
                {
                    position: new google.maps.LatLng(-33.91721, 151.22630),
                    type: 'warning'
                }
            ];

            for (var i = 0; i < features.length; i++) {
                var marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon,
                    map: map
                });
            }
            ;
        }
    //
      Load the API from the specified URL
      * The async attribute allows the browser to render the page while the API loads
      * The key parameter will contain your own API key (which is not needed for this tutorial)
      * The callback parameter executes the initMap() function
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBL0q3lgtSop0pLjF5aMhy1Zgyp46BBPbQ&callback=initMap')

